.pic {
  background-image: url("https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_558,h_698/v1684852612/assets/ba/4947c1-b862-400e-9f00-668f4926a4a2/original/Ride-with-Uber.png");
  background-repeat: repeat; /* Ensures the background image repeats */
  background-size: auto; /* Default value, ensures the image maintains its original size */
  overflow: hidden; /* Controls overflow, though not usually necessary for background images */
  height: 86%; /* Ensures the element takes full height of its parent (adjust as needed) */
  justify-content: left;
  align-items: center;
  margin: 12px;
  width: 35%;
}
